on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
    - uses: actions/checkout@v2
    - id: foo
      uses: davidrichard23/actions-test@master
      with:
        who-to-greet: 'David'
    - run: echo random-number ${{ steps.foo.outputs.random-number }} 
      shell: bash